.deck {
  width: 100%;
  margin: 0 !important;
  margin-bottom: 5% !important;
}

.recipe {
  margin-left: 6% !important;
  margin-right: 6% !important;
}

.recipe:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 1);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 1);
}
