@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.modal-wrapper {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.modal-backdrop {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.modal-box {
  position: relative !important;
  float: right !important;
  height: 100% !important;
  width: 20% !important;
  overflow-y: auto !important;
  background-color: white !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  z-index: 101 !important;
  text-align: center !important;
  background-image: url(../../images/NavBarBackground.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.div-nav-bar {
  height: 100%;
  width: 100%;
  display: table;
}

.div-nav-elements {
  display: table-cell;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  padding: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

ul li a:hover {
  color: #ffcc00;
}

.icon {
  float: right;
  margin: 20px;
  color: #ffcc00;
}

.icon:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modal-box {
    width: 40% !important;
  }
}
